spring.application.name=electronics-shop-api

spring.datasource.url=
spring.datasource.username=
spring.datasource.password=

# JWT Configuration
jwt.secret=
jwt.expiration-ms=86400000

spring.jpa.hibernate.ddl-auto=update